[submodule "AwaLWM2M"]
	path = AwaLWM2M
	url = https://github.com/FlowM2M/AwaLWM2M.git
[submodule "contiki"]
	path = contiki
	url = https://github.com/CreatorDev/contiki.git
[submodule "libobjects-fixes"]
	path = libobjects
	url = https://github.com/CreatorKit/libobjects.git
